@model IEnumerable<Expanditure>

@{
    ViewData["Title"] = "Details";
}






<h1>Details</h1>

<div>
    <h4>Expenditure</h4>
   
        @foreach (var name in Model)
        {
            <div class="username">
                @name
                @date  
                @price
            </div>
        }
  
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
